.headeramarelo {
    color: white;
    background: linear-gradient(135deg, #d4f8e8, #fce1e4, #fff3b0);
    font-size: 15px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
    font-weight: 200;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    padding: 4px 0;
    margin: 0;
    line-height: 1.1;
  }