/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fundo primavera */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #d4f8e8, #fce1e4, #fff3b0);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttomm {
    color: #8fd694;
    border-radius: 50px;
}

/* Container */
.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column; /* COLUNA */
    gap: 15px;
    width: 280px;
}

/* Labels */
label {
    font-weight: 600;
    color: #4a7c59;
    font-size: 14px;
}

/* Inputs */
input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #a3d9a5;
    outline: none;
    font-size: 15px;
    transition: 0.3s;
}

/* Foco */
input:focus {
    border-color: #ffb7c5;
    box-shadow: 0 0 8px rgba(255, 183, 197, 0.5);
}

/* Total */
input[readonly] {
    background-color: #f0fff4;
    border: 2px dashed #8fd694;
    font-weight: bold;
}

.h5,h1 {
    color: #4a7c59;
}

.btn-primary {
    color: white;
    background-color: #4a7c59;
    border: none;
    border-radius: 50px;
    height: 50px;
    width: 100px;
    font-size: 16px;

    display: block;
    margin: 0 auto; 
}